<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Zairza Issue Register | Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  </head>
  <body>
    <!--Navigation Bar-->
    <div class="container-fluid" style="background-color:#2BBBAD">
       <div class="row">
          <nav class="navbar navbar-inverse" style="background-color:">
             <div class="navbar-header">
                <a class="navbar-brand" href="#">DASHBOARD</a>
             </div>
             <div class="navbar-header" style="float:right">
                <a class="navbar-brand" href="/logout">Logout</a>
             </div>
          </nav>
       </div>
       <div class="row" style="margin-bottom:2%;margin-left:1%;margin-right:1%;margin-top:2%;">
         <table id="issue-list" class="display" width="100%"></table>
       </div>
       <div class="row" style="margin-left:44%;margin-bottom:50%">
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addIssue">Add New Issue</button>
      </div>
      <div id="addIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><h3>New Issue</h3></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action='/additem' method='POST'>
                <table>
                 <tr>
                   <th style="float:right">Item: </th>
                   <td><input type="text" name="item"></input></td>
                   <th style="float:right">Quantity: </th>
                   <td><input type="number" name="quantity"></input></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <th>Issued by:</th>
                   <td><input type="text" name="issued_by"></input></td>
                   <th style="float:right">Phone no.:</th>
                   <td><input type="text" name="phone"></input></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
                 <tr>
                   <th style="float:right">Date:</th>
                   <td><input type="date" name="issue_date"></input></td>
                   <th style="float:right">Verified by:</th>
                   <td><input type="text" name="issue_verified_by"></input></td>
                 </tr>
                 <tr>
                   <td><font color="#ffffff">""</font>
                   </td>
                 </tr>
               </table>
               <div class="modal-footer">
                 <input type="submit" value="Add Item" class="btn btn-primary"></input>
                 <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
               </div>
          </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script>
    var dataSet = [
      [ "Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011/04/25", "$320,800","" ],
      [ "Garrett Winters", "Accountant", "Tokyo", "8422", "2011/07/25", "$170,750","" ],
      [ "Prescott Bartlett", "Technical Author", "London", "3606", "2011/05/07", "$145,000","" ],
      [ "Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008/10/26", "$235,500","" ],
      [ "Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011/03/09", "$324,050","" ],
      [ "Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009/12/09", "$85,675", "" ]
    ];
    $(document).ready(function() {
      $('#issue-list').DataTable( {
          data: dataSet,
          columns: [
              { title: "Item" },
              { title: "Quantity" },
              { title: "Issued by" },
              { title: "Issue verified by" },
              { title: "Issue date" },
              { title: "Issue verified by" },
              { title: "" }
          ]
      });
    });
    $('#addIssue').modal('show')
  </script>
</html>
