.butn {
    width: 250px;
    padding: 10px;
    margin: 2;
    cursor: pointer;
}
html, body {
    width: 100%; /* specify width on parent */
}
html {
  text-align: center;
}
* {
    margin: 0; padding: 0; box-sizing: border-box; /* reset */
}
body {
  color : black;
  font-size : 40px;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: grey;
  padding: 10px;
}
